@define-color selected-text #f3f7f3;
@define-color text #e9efeb;
@define-color base #070e15;
@define-color border #bfae87;
@define-color foreground #e9efeb;
@define-color background #070e15;


@define-color hover #e9efeb;
@define-color accent #bfae87;


window .search-container,
window .search {
  background: alpha(@hover, 0.1);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

window .search-container text { 
    color: @selected-text;
    caret-color: @selected-text;
}
